<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Lumino - Dashboard</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/datepicker3.css" rel="stylesheet"/>
    <link href="/static/css/styles.css" rel="stylesheet"/>

    <!--Icons-->
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css"/>


    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div th:replace="templates/fragments/header :: header"/>

<div th:replace="templates/fragments/sidebar :: sidebar"/>

<div th:replace="${view} :: content"/>

<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/chart.min.js"></script>
<script src="/static/js/easypiechart.js"></script>
<script src="/static/js/easypiechart-data.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/app.js"></script>
<div th:if="${script != null}">
    <script th:src="${script}"></script>
</div>
</body>

</html>
