<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Categorias</title>
</head>
<body>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
            <li class="active">Categorias</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-tags"></i>
                <span th:text="#{page.category.query.title}">Categorías</span>
            </h1>
        </div>
    </div><!--/.row-->

    <div class="row margin-bottom7">
        <div class="col-lg-12">
            <a href="/inventario/categorias/agregar" class="btn btn-primary pull-right">
                <span th:text="#{page.category.action.add}">Nueva Categoría</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="alert bg-info" role="alert"  th:if="${#lists.isEmpty(categories)}">
                    <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                    <span th:text="#{page.category.no-data-message}"></span> <b th:text="#{page.category.action.add}"></b>
                </div>
                <div class="panel-body" th:if="${not #lists.isEmpty(categories)}">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true"><span th:text="#{global.id}">ID</span></th>
                            <th data-field="name" data-sortable="true"><span th:text="#{global.name}">Nombre</span></th>
                            <th data-field="description" data-sortable="true"><span th:text="#{global.description}">Descripción</span></th>
                            <th data-field="create-date" data-sortable="true"><span th:text="#{global.create-date}">Creado En</span></th>
                            <th data-field="modify-date" data-sortable="true"><span th:text="#{global.modify-date}">Modificado En</span></th>
                            <th><span th:text="#{global.action}">Acción</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="category : ${categories}">
                            <td th:text="${category.id}"></td>
                            <td th:text="${category.name}"></td>
                            <td th:text="${category.description}"></td>
                            <td th:text="${#calendars.format(category.createDate,'dd/MM/yyyy hh:mm a')}"></td>
                            <td th:text="${#calendars.format(category.modifyDate,'dd/MM/yyyy hh:mm a')}"></td>
                            <td>
                                <a type="button" class="btn btn-sm btn-info"
                                   th:href="@{/inventario/categorias/editar(id=${category.id})}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a type="button" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div><!--/.main-->
</body>
</html>