<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="es">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar" th:fragment="sidebar">
    <ul class="nav menu">
        <li id="nav-menu-li-index">
            <a href="index">
                <svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-dashboard-dial"></use>
                </svg>
                <span th:text="#{global.home}">Inicio</span>
            </a>
        </li>
        <li id="nav-menu-li-inventory">
            <a href="inventory">
                <svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-table"></use>
                </svg>
                <span th:text="#{global.inventory}">Inventario</span>
            </a>
        </li>
        <!--<li class="parent ">-->
            <!--<a data-toggle="collapse" href="#sub-item-1">-->
                <!--<span >-->
                    <!--<svg class="glyph stroked chevron-down">-->
                        <!--<use xlink:href="#stroked-gear"></use>-->
                    <!--</svg>-->
                <!--</span>-->
                <!--<span th:text="#{global.administration}">Administración</span>-->
            <!--</a>-->
            <!--<ul class="children collapse" id="sub-item-1">-->
                <!--<li>-->
                    <!--<a class="" href="add-inventory">-->
                        <!--<svg class="glyph stroked chevron-right">-->
                            <!--<use xlink:href="#stroked-table"></use>-->
                        <!--</svg>-->
                        <!--<span th:text="#{global.add.inventory}">Inventario</span>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
    </ul>

</div><!--/.sidebar-->
</body>
</html>