<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Almacenes</title>
</head>
<body>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
            <li>
                <a href="/inventario/almacenes">
                    <span th:text="#{breadcrumb.warehouse}">Almacenes</span>
                </a>
            </li>
            <li class="active">
                <span th:text="${breadcrumb}"></span>
            </li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <span th:text="${title}"></span>
            </h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span th:text="#{page.warehouse.add.data-warehouse}">Datos Almacén</span>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <form role="form" action="#" th:action="@{/inventario/almacenes/agregar}"
                              th:object="${warehouseView}" method="post">

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.name}">Nombre</span>
                                </label>
                                <input class="form-control" type="text" th:field="*{name}"
                                       placeholder="Nombre del Almacén"/>

                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                    Nombre Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.description}">Descripción</span>
                                </label>
                                <textarea class="form-control" th:field="*{description}" rows="3" placeholder="Descripción del Almacén"></textarea>

                                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                                    Descripción Error
                                </div>
                            </div>


                            <button type="submit" class="btn btn-primary">
                                <span th:text="#{global.save}">Guardar</span>
                            </button>
                            <a type="button" href="/inventario/almacenes" class="btn btn-default">
                                <span th:text="#{global.cancel}">Cancelar</span>
                            </a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->

</body>
</html>