<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Almacenes</title>
</head>
<body>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
            <li class="active">Almacenes</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <i class="fa fa-industry"></i>
                <span th:text="#{page.warehouse.query.title}">Almacenes</span>
            </h1>
        </div>
    </div><!--/.row-->

    <div class="row margin-bottom7">
        <div class="col-lg-12">
            <a href="/inventario/almacenes/agregar" class="btn btn-primary pull-right">
                <span th:text="#{page.warehouse.action.add}">Nuevo Almacén</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="alert bg-info" role="alert"  th:if="${#lists.isEmpty(warehouses)}">
                    <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
                    <span th:text="#{page.warehouse.no-data-message}"></span> <b th:text="#{page.warehouse.action.add}"></b>
                </div>
                <div class="panel-body" th:if="${not #lists.isEmpty(warehouses)}">
                    <table data-toggle="table" data-locale="es-ES" data-pagination="true" data-sort-name="name" data-sort-order="desc">
                        <thead>
                        <tr>
                            <th data-field="id" data-sortable="true"><span th:text="#{global.id}">ID</span></th>
                            <th data-field="name" data-sortable="true"><span th:text="#{global.name}">Nombre</span></th>
                            <th data-field="description" data-sortable="true"><span th:text="#{global.description}">Descripción</span></th>
                            <th data-field="create-date" data-sortable="true"><span th:text="#{global.create-date}">Creado En</span></th>
                            <th data-field="modify-date" data-sortable="true"><span th:text="#{global.modify-date}">Modificado En</span></th>
                            <th><span th:text="#{global.action}">Acción</span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="warehouse : ${warehouses}">
                            <td th:text="${warehouse.id}"></td>
                            <td th:text="${warehouse.name}"></td>
                            <td th:text="${warehouse.description}"></td>
                            <td th:text="${#calendars.format(warehouse.createDate,'dd/MM/yyyy hh:mm a')}"></td>
                            <td th:text="${#calendars.format(warehouse.modifyDate,'dd/MM/yyyy hh:mm a')}"></td>
                            <td>
                                <a type="button" class="btn btn-sm btn-info"
                                   th:href="@{/inventario/almacenes/editar(id=${warehouse.id})}">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a type="button" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->

</div><!--/.main-->
</body>
</html>