<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>SystemVD</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/datepicker3.css" rel="stylesheet"/>
    <link href="/static/css/styles.css" rel="stylesheet"/>

    <!--Icons-->
    <link rel="stylesheet" href="/static/fonts/font-awesome/css/font-awesome.min.css"/>

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">SystemVD</div>
            <div class="panel-body">
                <p class="text-red" th:if="${loginError}">Usuario o Contraseña incorrecto!</p>

                <form role="form" th:action="@{/spring_security_login}" method="post">
                    <div class="input-group  margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-user fa-fw" aria-hidden="true"></i></span>
                        <input class="form-control" placeholder="Usuario" id="username" name="username"
                               type="text" required="required" autofocus="autofocus"/>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock fa-fw" aria-hidden="true"></i></span>
                        <input class="form-control" placeholder="Contraseña" id="password" name="password"
                               type="password" required="required" value=""/>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div><!-- /.col-->
</div><!-- /.row -->

<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<!--<script src="/static/js/chart.min.js"></script>-->
<!--<script src="/static/js/easypiechart.js"></script>-->
<!--<script src="/static/js/easypiechart-data.js"></script>-->
<!--<script src="/static/js/bootstrap-datepicker.js"></script>-->

</body>

</html>
