<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Cliente</title>
</head>
<body>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
            <li>
                <a href="/clientes">
                    <span th:text="#{breadcrumb.client}">Clientes</span>
                </a>
            </li>
            <li class="active">
                <span th:text="${breadcrumb}"></span>
            </li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <span th:text="${title}"></span>
            </h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span th:text="#{page.client.add.data-client}">Datos Cliente</span>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <form role="form" action="#" th:action="@{/clientes/agregar}"
                              th:object="${client}" method="post">
                            <input class="form-control" type="hidden" th:field="*{id}"/>
                            <input class="form-control" type="hidden" th:field="*{person.id}"/>
                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.name}">Nombre</span>
                                </label>
                                <input class="form-control" type="text" th:field="*{person.firstname}"
                                       placeholder="Nombre del Cliente" data-validation="length" data-validation-length="4-100"/>

                                <div th:if="${#fields.hasErrors('person.firstname')}" th:errors="*{person.firstname}">
                                    Nombre Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.lastname}">Apellido</span>
                                </label>
                                <input class="form-control" type="text" th:field="*{person.lastname}"
                                       placeholder="Apellido del Cliente" data-validation="length" data-validation-length="4-100"/>

                                <div th:if="${#fields.hasErrors('person.lastname')}" th:errors="*{person.lastname}">
                                    Apellido Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.birthdate}">Fecha de Nacimiento</span>
                                </label>
                                <input class="form-control" id="birthdate" type="date" th:field="*{person.birthdate}"
                                       data-validation="birthdate"/>

                                <div th:if="${#fields.hasErrors('person.birthdate')}" th:errors="*{person.birthdate}">
                                    Fecha Nacimiento Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Sexo</label>
                                <select th:field="*{person.sex}"
                                        class="form-control" data-validation="required">
                                    <option value="">Seleccione el sexo</option>
                                    <option th:each="sex : ${allSex}"
                                            th:value="${sex.id}"
                                            th:text="${sex.description}">
                                    </option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.email}">Email</span>
                                </label>
                                <input class="form-control" type="email" th:field="*{person.email}"
                                       placeholder="Cliente@Email.com"  data-validation="email"/>

                                <div th:if="${#fields.hasErrors('person.email')}" th:errors="*{person.email}">
                                    Email Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Estado</label>
                                <select th:field="*{enabled}"
                                        class="form-control">
                                    <option th:each="status : ${allStatus}"
                                            th:value="${status.id}"
                                            th:text="${status.description}">
                                    </option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">
                                <span th:text="#{global.save}">Guardar</span>
                            </button>
                            <a type="button" href="/clientes" class="btn btn-default">
                                <span th:text="#{global.cancel}">Cancelar</span>
                            </a>

                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div>
</body>
</html>