<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Nueva Categorias</title>
</head>
<body>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
            <li>
                <a href="/inventario/productos">
                    <span th:text="#{breadcrumb.products}">Productos</span>
                </a>
            </li>
            <li class="active">
                <span th:text="#{breadcrumb.products.add}">Nuevo Producto</span>
            </li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <span th:text="#{page.product.add.title}">Nuevo Producto</span>
            </h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span th:text="#{page.product.add.data-product}">Datos Producto</span>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <form role="form" method="post">

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.name}">Nombre</span>
                                </label>
                                <input class="form-control" id="name" name="name"/>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.description}">Descripción</span>
                                </label>
                                <textarea class="form-control" id="description" name="descrition" rows="3"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary">
                                <span th:text="#{global.save}">Guardar</span>
                            </button>
                            <button type="submit" class="btn btn-default">
                                <span th:text="#{global.cancel}">Cancelar</span>
                            </button>

                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div>
</body>
</html>