<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Productos</title>
</head>
<body>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
            <li>
                <a href="/inventario/productos">
                    <span th:text="#{breadcrumb.product}">Productos</span>
                </a>
            </li>
            <li class="active">
                <span th:text="${breadcrumb}"></span>
            </li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                <span th:text="${title}"></span>
            </h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span th:text="#{page.product.add.data-product}">Datos Producto</span>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <form role="form" action="#" th:action="@{/inventario/productos/agregar}"
                              th:object="${productView}" method="post">

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.name}">Nombre</span>
                                </label>
                                <input class="form-control" type="text" th:field="*{name}" placeholder="Nombre del Producto"/>

                                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
                                    Nombre Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.description}">Descripción</span>
                                </label>
                                <textarea class="form-control" th:field="*{description}"  rows="3" placeholder="Descripción del Producto"></textarea>

                                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Descripción
                                    Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.inventory-min}">Minimo Inventario</span>
                                </label>
                                <input class="form-control" type="number" th:field="*{inventoryMin}"/>

                                <div th:if="${#fields.hasErrors('inventoryMin')}" th:errors="*{inventoryMin}">
                                    Minino Inventario Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.price}">Precio</span>
                                </label>
                                <input class="form-control" type="number" th:field="*{price}"/>

                                <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">
                                    Precio Error
                                </div>
                            </div>

                            <div class="form-group">
                                <label>
                                    <span th:text="#{global.category}">Categoría</span>
                                </label>
                                <select th:field="*{category}"
                                        class="form-control">
                                    <option th:each="category : ${allCategory}"
                                            th:value="${category.id}"
                                            th:text="${category.name}">Seleccione una Categoría
                                    </option>
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">
                                <span th:text="#{global.save}">Guardar</span>
                            </button>
                            <a type="button" href="/inventario/productos" class="btn btn-default">
                                <span th:text="#{global.cancel}">Cancelar</span>
                            </a>

                        </form>
                    </div>
                </div>
            </div>
        </div><!-- /.col-->
    </div><!-- /.row -->

</div>
</body>
</html>