<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Vender</title>
</head>
<body>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
            <li class="active">Vender</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Vender</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-log-12">
                        <form role="form" action="#" th:action="@{/venta/buscar}" method="get">
                            <div class="input-group">
                                <input class="form-control" type="text" name="client" id="autocomplete"
                                       placeholder="Ingrese el nombre del cliente"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form role="form" action="#" th:action="@{/venta/buscar}" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span th:text="#{page.client.add.data-client}">Datos Cliente</span>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            <span th:text="#{global.name}">Nombre</span>
                                        </label>
                                        <input class="form-control" type="text" placeholder="Nombre del Cliente" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            <span th:text="#{global.name}">Nombre</span>
                                        </label>
                                        <input class="form-control" type="text" placeholder="Nombre del Cliente" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span th:text="#{page.client.add.data-client}">Datos Cliente</span>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div><!--/.main-->

</body>
</html>