<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Vender</title>
</head>
<body>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main" th:fragment="content">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="inicio">
                <i class="fa fa-home" aria-hidden="true"></i>
            </a></li>
            <li class="active">Vender</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Vender</h1>
        </div>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-log-12">
                        <form role="form" action="#" th:action="@{/venta/vender}" method="get">
                            <div class="input-group">
                                <input class="form-control" type="text" name="name" id="autocomplete"
                                       th:value="${name}"
                                       placeholder="Ingrese el nombre del cliente" required="required"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.row-->

    <form role="form" action="#" th:action="@{/venta/vender}" th:object="${sale}" method="post">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span th:text="#{page.client.add.data-client}">Datos Cliente</span>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            <span th:text="#{global.firstname}">Nombre</span>
                                        </label>
                                        <input class="form-control" type="text"
                                               th:field="*{client.person.firstname}"
                                               placeholder="Nombre del Cliente" readonly="readonly"/>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span th:text="#{global.email}">Email</span>
                                        </label>
                                        <input class="form-control" type="email"
                                               th:field="*{client.person.email}"
                                               placeholder="Email" readonly="readonly"/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            <span th:text="#{global.lastname}">Apellido</span>
                                        </label>
                                        <input class="form-control" type="text"
                                               th:field="*{client.person.lastname}"
                                               placeholder="Nombre del Cliente" readonly="readonly"/>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <span th:text="#{global.identify}">Cedula</span>
                                        </label>
                                        <input class="form-control" type="text"
                                               th:field="*{client.person.identifyDocument}"
                                               placeholder="Nombre del Cliente" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span th:text="#{page.sale.sell.detail}">Detalle</span>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <div class="row margin-bottom7">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-primary pull-right" name="addDetail"
                                            th:disabled="${!enable}">
                                        <span th:text="#{page.sale.sell.detail.add}">Agregar Detalle</span>
                                    </button>
                                </div>
                            </div>
                            <table id="paginatortable" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th data-field="product" data-sortable="true"><span th:text="#{global.product}">Producto</span></th>
                                    <th data-field="unit-price" data-sortable="true"><span th:text="#{global.unit-price}">Precio Unidad</span></th>
                                    <th data-field="quantity" data-sortable="true"><span th:text="#{global.quantity}">Cantidad</span></th>
                                    <th data-field="total-price" data-sortable="true"><span th:text="#{global.total-price}">Precio Total</span></th>
                                    <th><span th:text="#{global.action}">Acción</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="detail,detailStart : *{details}">
                                    <input type="hidden" th:field="*{details[__${detailStart.index}__].id}"/>
                                    <td>
                                        <select id="productSelect" th:field="*{details[__${detailStart.index}__].product.id}"
                                                class="selectpicker form-control" data-live-search="true">
                                            <option value="">Seleccione un producto</option>
                                            <option th:each="product : ${allProducts}"
                                                    th:value="${product.id}"
                                                    th:text="${product.name}">
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input id="unitPrice" type="number" class="form-control" disabled="true"
                                               th:field="*{details[__${detailStart.index}__].product.price}"/>
                                    </td>
                                    <td>
                                        <input id="quantity" type="number" class="form-control" th:field="*{details[__${detailStart.index}__].quantity}"/>
                                    </td>
                                    <td>
                                        <input id="totalPrice" type="number" class="form-control"  disabled="true"
                                               th:field="*{details[__${detailStart.index}__].totalPrice}"/>
                                    </td>
                                    <td>
                                        <button type="submit" class="btn btn-sm btn-danger" name="removeDetail"
                                                th:value="${detailStart.index}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->

    </form><!--/.form-->

</div><!--/.main-->

</body>
</html>